<app-header></app-header>

<section id="hero">
  <div class="overlay"></div>
  <div class="carousel">
    <div
      class="slide"
      style="background-image: url('../assets/img/carrusel.jpg')"
    ></div>
    <div
      class="slide"
      style="background-image: url('../assets/img/carrusel2.jpg')"
    ></div>
    <div
      class="slide"
      style="background-image: url('../assets/img/carrusel3.jpg')"
    ></div>
  </div>
  <div class="content">
    <h1>Bienvenido a la Clínica de Gatos MichiMed</h1>
    <p>
      <mark
        >Un hospital veterinario de servicio completo para gatos y sus
        necesidades de cuidado</mark
      >
    </p>
    <button class="btn-1">Programa tu cita</button>
  </div>
</section>
<main>
  <section id="online-services">
    <h2>Servicios en Línea</h2>
    <p>
      Ofrecemos una variedad de servicios en línea para ayudarte a gestionar la
      salud de tu mascota. Puedes usar estos servicios para revisar el estado de
      tu mascota hospitalizada, ver el historial médico de tu mascota, crear una
      cuenta para gestionar la salud de tu mascota, o ver y gestionar mascotas
      hospitalizadas si eres veterinario.
    </p>
    <button (click)="showFindMascotasDialog()" class="btn-2">
      Ver mis mascotas
    </button>
  </section>
  <section class="service-grid">
    <div class="service-item">
      <img
        src="../assets/icons/search.svg"
        alt="Seguimiento del Estado de la Mascota"
      />
      <h3>Seguimiento del Estado de la Mascota</h3>
      <p>Revisa el estado de tu mascota hospitalizada</p>
    </div>
    <div class="service-item">
      <img
        src="../assets/icons/document.svg"
        alt="Ingreso de Registros Médicos"
      />
      <h3>Ingreso de Registros Médicos</h3>
      <p>Consulta el historial médico de tu mascota.</p>
    </div>
    <div class="service-item">
      <img src="../assets/icons/person.svg" alt="Registro de Clientes" />
      <h3>Registro de Clientes</h3>
      <p>Crea una cuenta para gestionar la salud de tu mascota.</p>
    </div>
    <div class="service-item">
      <img src="../assets/icons/person-2.svg" alt="Gestión para Veterinarios" />
      <h3>Gestión de Veterinarios</h3>
      <p>Para veterinarios que gestionan mascotas hospitalizadas.</p>
    </div>
  </section>
  <section id="additional-services">
    <div class="additional_service-item">
      <img src="../assets/img/servicios.png" alt="Nail Cutting" />

      <h3>Corte de Uñas</h3>
    </div>

    <div class="additional_service-item">
      <img src="../assets/img/servicios2.png" alt="Hospitalización" />
      <h3>Hospitalización</h3>
    </div>

    <div class="additional_service-item">
      <img src="../assets/img/servicios3.png" alt="Limpieza" />
      <h3>Limpieza</h3>
    </div>
  </section>

  <section id="contact-email">
    <h2>¿Preguntas sobre los servicios que ofrecemos?</h2>
    <p>Contáctanos en <strong>info@michimed.com</strong></p>
    <button class="btn-2">Envíanos un Correo</button>
  </section>

  <section id="contact">
    <h1>Contáctanos</h1>
    <form>
      <h3>Nombre</h3>
      <input type="text" placeholder="Tu nombre" required />
      <h3>Correo Electrónico</h3>
      <input type="email" placeholder="Tu correo electrónico" required />
      <h3>Asunto</h3>
      <input type="text" placeholder="Asunto" required />
      <h3>Mensaje</h3>
      <textarea class="Mensaje" type="text" required></textarea>
      <button type="submit" class="btn-3">Enviar</button>
    </form>
  </section>
</main>

<app-footer></app-footer>

<!-- Dialog para buscar mascotas -->
<p-dialog
  header="Buscar mis mascotas"
  [(visible)]="findMascotasDialog"
  [style]="{ width: '30vw' }"
  [modal]="true"
>
  <div class="flex flex-column gap-2">
    <label for="cedula">Ingrese su cédula</label>
    <input pInputText class="primeng-input" id="cedula" [(ngModel)]="cedula" />
    <button class="btn-2" (click)="buscarMascota()">Buscar</button>
  </div>

  <!-- Mostrar mascotas encontradas -->
  <div *ngIf="mascotas.length > 0" class="flex flex-wrap justify-center gap-4">
    <p-card
      *ngFor="let mascota of mascotas"
      [header]="mascota.nombre"
      [style]="{ width: '360px' }"
    >
      <div class="flex justify-center">
        <img
          class="object-cover rounded-full shadow-2 mb-4"
          [alt]="mascota.nombre"
          [src]="mascota.foto"
          width="200"
        />
      </div>
      <ul class="data list-none p-0 text-center">
        <li class="mb-2">
          <strong>Edad: </strong><span>{{ mascota.edad }} años</span>
        </li>
        <li class="mb-2">
          <strong>Raza: </strong><span>{{ mascota.raza }}</span>
        </li>
        <li class="mb-2">
          <strong>Peso: </strong><span>{{ mascota.peso }} kg</span>
        </li>
      </ul>
      <div class="flex justify-center">
        <p-button
          label="Ver tratamientos"
          [rounded]="true"
          severity="secondary"
          (click)="verTratamientos(mascota.id!)"
        ></p-button>
      </div>
    </p-card>
  </div>
</p-dialog>

<!-- Dialog para ver tratamientos -->
<p-dialog
  header="Historial Médico"
  [(visible)]="viewTratamientosMascotaDialog"
  [style]="{ width: '50vw' }"
  [modal]="true"
>
  <!-- Mostrar tratamientos encontrados -->
  <div class="flex flex-wrap justify-center gap-4">
    <p-card
      *ngFor="let tratamiento of tratamientos"
      [header]="tratamiento.fecha"
      [subheader]="'Tratado por: ' + tratamiento.nombreVeterinario"
      [style]="{ width: '360px' }"
    >
      <div class="flex justify-center">
        <img
          class="object-cover rounded-full shadow-2 mb-4"
          [alt]="tratamiento.nombreVeterinario"
          [src]="tratamiento.urlFotoVeterinario"
          width="200"
        />
      </div>
      <h4>Drogas asignada</h4>
      <p>
        {{
          tratamiento.nombreDroga
            ? tratamiento.nombreDroga
            : "No tiene droga asignada"
        }}
      </p>
    </p-card>
  </div>
</p-dialog>

<!-- Mensajes de notificación -->
<p-toast></p-toast>
