<footer>
  <div class="social-links">
    <a href="https://www.instagram.com/" aria-label="Instagram">
      <i class="icon-instagram">
        <img
          src="../assets/icons/Instagram.png"
          alt="Instagram Icon"
          class="social-icon"
        />
      </i>
    </a>
    <a aria-label="Phone">
      <i class="icon-phone">
        <img
          src="../assets/icons/phone.png"
          alt="Phone Icon"
          class="social-icon"
        />
      </i>
    </a>
    <a href="https://x.com" aria-label="Twitter">
      <i class="icon-twitter">
        <img
          src="../assets/icons/twitter.png "
          alt="Twitter Icon"
          class="social-icon"
        />
      </i>
    </a>
  </div>
  <div class="legal">
    <a href="#">Privacidad y políticas</a>
    <a href="#">Términos y condiciones</a>
  </div>

  <p class="copy">&copy; 2024 MichiMed. Todos los derechos reservados.</p>
</footer>
