<footer class="text-center py-8">
  <div class="flex justify-center">
    <a href="https://www.instagram.com/" aria-label="Instagram">
      <i class="icon-instagram">
        <img src="../assets/icons/Instagram.png" alt="Instagram Icon" />
      </i>
    </a>
    <a aria-label="Phone">
      <i class="icon-phone">
        <img src="../assets/icons/phone.png" alt="Phone Icon" class="mx-4" />
      </i>
    </a>
    <a href="https://x.com" aria-label="Twitter">
      <i class="icon-twitter">
        <img src="../assets/icons/twitter.png " alt="Twitter Icon" />
      </i>
    </a>
  </div>
  <div class="mt-10">
    <a class="no-underline w-5 h-5 text-[var(--text-terciary)]" href="#"
      >Privacidad y políticas</a
    >
    <a class="no-underline w-5 h-5 m-2 text-[var(--text-terciary)]" href="#"
      >Términos y condiciones</a
    >
  </div>

  <p class="mt-5 text-[var(--text-terciary)]">
    &copy; 2024 MichiMed. Todos los derechos reservados.
  </p>
</footer>
