.reabastecer {
  color: red;
  font-weight: bold;
}

.escaso {
  color: orange;
  font-weight: bold;
}

.abundante {
  color: green;
  font-weight: bold;
}

.normal {
  color: black;
  font-weight: normal;
}
