<!-- Layout - Menu Lateral y header -->
<img
  src="/assets/img/Michimed_Logo 1.png"
  class="logo"
  id="toggleSidebar"
  alt="Michimed Logo"
/>
<aside id="sidebar">
<nav
  class="h-100 d-flex flex-column justify-content-between align-items-start"
>
  <ul class="nav flex-column">
    <li class="nav-item">
      <a href="#" class="nav-link active"
        ><i class="bi bi-house me-3"></i>Panel</a
      >
    </li>
    <li class="nav-item">
      <a routerLink="/clientes" class="nav-link"
        ><i class="bi bi-person-gear me-3"></i>Clientes</a
      >
    </li>
    <li class="nav-item">
      <a href="#" class="nav-link"
        ><i class="bi bi-person-gear me-3"></i>Veterinarios</a
      >
    </li>
    <li class="nav-item">
      <a href="#" class="nav-link"
        ><i class="bi bi-file-earmark-text me-3"></i>Historial Médico</a
      >
    </li>
    <li class="nav-item">
      <a routerLink="/mascotas" class="nav-link"
        ><i class="bi bi-activity me-3"></i>Mascotas</a
      >
    </li>
    <li class="nav-item">
      <a href="#" class="nav-link"
        ><i class="bi bi-plus-circle me-3"></i>Agregar tratamiento</a
      >
    </li>
  </ul>
  <ul class="nav flex-column">
    <li class="nav-item">
      <a routerLink="/drogas" class="nav-link"
        ><i class="bi bi-file-earmark me-3"></i>Adjuntar Drogas</a
      >
    </li>
    <li class="nav-item">
      <a href="../" class="nav-link mb-2"
        ><i class="bi bi-box-arrow-left me-3"></i>Logout</a
      >
    </li>
  </ul>
</nav>
</aside>
<header class="header-2">
  <img src="/assets/img/User.png" alt="User photo" />
</header>
<!-- // -->
