.header-2 {
  padding: 10px;
  display: flex;
  justify-content: end;
  align-items: center;
}

.header-2 img {height: 40px;}

/* PANEL MENU */
#sidebar {
  width: 250px;
  transition: transform 0.3s ease;
  position: fixed;
  z-index: 1000;
  height: 100%;
  padding-top: 60px; /* Deja espacio para el logo */
}
#sidebar.collapsed {transform: translateX(-100%);}

.nav-link {color: var(--text-secondary);}

.nav-link:hover {color: var(--text-terciary);}

.logo {
  position: fixed;
  top: 10px;
  left: 10px;
  cursor: pointer;
  height: 40px;
  z-index: 1100; /* Por encima del sidebar */
}
