<!-- Layout - Menu Lateral y header -->
<img
  src="/assets/img/Michimed_Logo 1.png"
  class="logo"
  id="toggleSidebar"
  alt="Michimed Logo"
/>
<aside id="sidebar">
  <nav
    class="h-100 d-flex flex-column justify-content-between align-items-start"
  >
    <ul class="nav flex-column">
      <li *ngIf="isAdmin" class="nav-item">
        <a href="/admin/dashboard" class="nav-link active"
          ><i class="bi bi-house me-3"></i>Panel</a
        >
      </li>
      <li class="nav-item">
        <a routerLink="/clientes" class="nav-link"
          ><i class="bi bi-person-gear me-3"></i>Clientes</a
        >
      </li>
      <li *ngIf="isAdmin" class="nav-item">
        <a href="/admin/veterinarios" class="nav-link"
          ><i class="bi bi-person-gear me-3"></i>Veterinarios</a
        >
      </li>
      <li class="nav-item">
        <a routerLink="/mascotas" class="nav-link"
          ><i class="bi bi-activity me-3"></i>Mascotas</a
        >
      </li>
      <li class="nav-item">
        <a routerLink="/drogas" class="nav-link"
          ><i class="bi bi-capsule me-3"></i>Drogas</a
        >
      </li>
      <li class="nav-item">
        <a href="/historial-medico" class="nav-link"
          ><i class="bi bi-clipboard2-pulse me-3"></i>Historial Médico</a
        >
      </li>
      <li class="nav-item">
        <a href="/suministrar-tratamiento" class="nav-link"
          ><i class="bi bi-plus-circle me-3"></i>Agregar tratamiento</a
        >
      </li>
    </ul>
    <ul class="nav flex-column">
      <li class="nav-item">
        <a href="../" class="nav-link mb-2"
          ><i class="bi bi-box-arrow-left me-3"></i>Logout</a
        >
      </li>
    </ul>
  </nav>
</aside>
<header class="header-2">
  <p class="mb-0 mr-4">{{ "¡Bienvenid@ " + nombre + "!" }}</p>
  <img [src]="urlProfile" class="rounded-full object-cover" alt="User photo" />
</header>
<!-- // -->
