<app-layout></app-layout>

<main id="content">
  <p-toast></p-toast>
  <h1 class="mb-4 text-3xl">Agregar tratamiento</h1>

  <div class="w-1/4">
    <div class="field mt-[1rem]">
      <label for="mascotas">Mascota</label>
      <p-dropdown
        inputId="mascotas"
        [options]="mascotas"
        optionLabel="nombre"
        [showClear]="true"
        [(ngModel)]="tratamiento.mascota"
        [filter]="true"
        filterBy="nombre"
        class="block w-full"
      ></p-dropdown>
    </div>

    <div *ngIf="isAdmin" class="field mt-[1rem]">
      <label for="veterinarios">Veterinario</label>
      <p-dropdown
        inputId="veterinarios"
        [options]="veterinarios"
        optionLabel="nombre"
        [showClear]="true"
        [(ngModel)]="tratamiento.veterinario"
        [filter]="true"
        filterBy="nombre"
        class="block w-full"
      ></p-dropdown>
    </div>

    <div *ngIf="!isAdmin" class="field mt-[1rem]">
      <label htmlFor="veterinario">Veterinario</label>
      <input
        type="text"
        pInputText
        id="veterinario"
        [(ngModel)]="nombreVeterinario"
        autofocus
        disabled
        class="block w-full"
      />
    </div>

    <div class="field mt-[1rem] mb-6">
      <label for="drogas">Drogas</label>
      <p-dropdown
        inputId="drogas"
        [options]="drogas"
        optionLabel="nombre"
        [showClear]="true"
        [(ngModel)]="tratamiento.droga"
        [filter]="true"
        filterBy="nombre"
        class="block w-full"
      ></p-dropdown>
    </div>

    <p-button
      label="Registrar tratamiento"
      [rounded]="true"
      severity="secondary"
      class="w-full"
      (click)="saveTratamiento()"
    ></p-button>
  </div>
</main>
