<header class="p-3 bg-[var(--color-1)]">
  <nav class="flex justify-between items-center">
    <div class="flex items-center">
      <img
        class="h-10 hover:cursor-pointer"
        src="../assets/img/michimedpng.png"
        alt="MichiMed Logo"
      />
    </div>
    <ul class="flex items-center list-none mr-5 mb-0">
      <li class="ml-8">
        <a class="no-underline text-[var(--white)]" href="#hero">Inicio</a>
      </li>
      <li class="ml-8">
        <a class="no-underline text-[var(--white)]" href="#online-services"
          >Servicios</a
        >
      </li>
      <li class="ml-8">
        <a class="no-underline text-[var(--white)]" href="#contact-email"
          >Correo Electrónico</a
        >
      </li>
      <li class="ml-8">
        <a class="no-underline text-[var(--white)]" href="#contact">Contacto</a>
      </li>
      <a routerLink="/sign-in"
        ><button class="btn-1 ml-8">Iniciar sesión</button></a
      >
    </ul>
  </nav>
</header>
