<app-layout></app-layout>

<main id="content">
  <h1 class="mb-3 text-center text-3xl">Todos nuestros gatitos</h1>
  <p-toast></p-toast>
  <p-table #mascotasTable [value]="mascotas" dataKey="id" [resizableColumns]="true" styleClass="p-datatable-sm" [paginator]="true"
    [rows]="20" [showCurrentPageReport]="true"
    currentPageReportTemplate="Mostrando {first} - {last} de los {totalRecords} gatitos"
    [rowsPerPageOptions]="[10, 15, 50]" editMode="row"
    [globalFilterFields]="['nombre', 'raza', 'edad', 'enfermedad', 'estado']" [tableStyle]="{ 'min-width': '90rem' }">
    <ng-template pTemplate="caption">
      <div class="flex items-center">
        <span class="p-input-icon-left mr-auto">
          <i class="pi pi-search"></i>
          <input id="find-mascotas-input" pInputText type="text" (input)="applyFilterGlobal($event, 'contains')"
          placeholder="Buscar por el nombre del gatito..." />
        </span>
        <button type="button" pButton pRipple label="Export" icon="pi pi-upload" class="p-button-help" (click)="exportExcel()" class="p-button-success mr-2" pTooltip="XLS" tooltipPosition="bottom"></button>
        <button pButton pRipple label="New" icon="pi pi-plus" class="p-button-success mr-2" (click)="openNew()"></button>
      </div>
    </ng-template>
    <ng-template pTemplate="header">
      <tr>
        <th style="width:15%" pSortableColumn="nombre" pResizableColumn>
          Nombre <p-sortIcon class="inline-block" field="nombre"></p-sortIcon>
        </th>
        <th style="width:15%" pSortableColumn="raza" pResizableColumn>
          Raza <p-sortIcon class="inline-block" field="raza"></p-sortIcon>
        </th>
        <th style="width:10%" pSortableColumn="edad" pResizableColumn>
          Edad <p-sortIcon class="inline-block" field="edad"></p-sortIcon>
        </th>
        <th style="width:10%" pSortableColumn="peso" pResizableColumn>
          Peso <p-sortIcon class="inline-block" field="peso"></p-sortIcon>
        </th>
        <th style="width:20%" pSortableColumn="enfermedad" pResizableColumn>
          Enfermedad
          <p-sortIcon class="inline-block" field="enfermedad"></p-sortIcon>
        </th>
        <th style="width:10%" pSortableColumn="estado" pResizableColumn>
          Estado <p-sortIcon class="inline-block" field="estado"></p-sortIcon>
        </th>
        <th style="width:10%" pResizableColumn>Foto</th>
        <th style="width:10%" pResizableColumn>Acciones</th>
      </tr>
    </ng-template>
    <ng-template pTemplate="body" let-mascota let-editing="editing" let-ri="rowIndex">
      <tr [pEditableRow]="mascota">
        <td>
          <p-cellEditor>
            <ng-template pTemplate="input">
              <input pInputText type="text" [(ngModel)]="mascota.nombre" />
            </ng-template>
            <ng-template pTemplate="output">
              {{ mascota.nombre }}
            </ng-template>
          </p-cellEditor>
        </td>
        <td>
          <p-cellEditor>
            <ng-template pTemplate="input">
              <input pInputText type="text" [(ngModel)]="mascota.raza" />
            </ng-template>
            <ng-template pTemplate="output">
              {{ mascota.raza }}
            </ng-template>
          </p-cellEditor>
        </td>
        <td>
          <p-cellEditor>
            <ng-template pTemplate="input">
              <input pInputText type="text" [(ngModel)]="mascota.edad" />
            </ng-template>
            <ng-template pTemplate="output">
              {{ mascota.edad }} años
            </ng-template>
          </p-cellEditor>
        </td>
        <td>
          <p-cellEditor>
            <ng-template pTemplate="input">
              <input pInputText type="text" [(ngModel)]="mascota.peso" />
            </ng-template>
            <ng-template pTemplate="output">
              {{ mascota.peso }} kg
            </ng-template>
          </p-cellEditor>
        </td>
        <td>
          <p-cellEditor>
            <ng-template pTemplate="input">
              <input pInputText type="text" [(ngModel)]="mascota.enfermedad" />
            </ng-template>
            <ng-template pTemplate="output">
              {{ mascota.enfermedad }}
            </ng-template>
          </p-cellEditor>
        </td>
        <td>
          <p-cellEditor>
            <ng-template pTemplate="input">
              <p-dropdown [options]="statuses" appendTo="body" [(ngModel)]="mascota.estado"
                [style]="{ width: '100%' }"></p-dropdown>
            </ng-template>
            <ng-template pTemplate="output">
              <p-tag [value]="mascota.estado" [severity]="getSeverity(mascota.estado)"></p-tag>
            </ng-template>
          </p-cellEditor>
        </td>
        <td>
          <img [src]="mascota.foto" [alt]="mascota.nombre" width="100"
            class="shadow-4 w-10 h-10 rounded-full object-cover img-fluid" />
        </td>
        <td>
          <button *ngIf="!editing" pButton pRipple type="button" pInitEditableRow icon="pi pi-pencil"
            (click)="onRowEditInit(mascota)" class="p-button-rounded p-button-text"></button>
          <button *ngIf="!editing" pButton pRipple icon="pi pi-trash" class="p-button-rounded p-button-warning"
            (click)="deleteMascota(mascota.id)"></button>
          <button *ngIf="editing" pButton pRipple type="button" pSaveEditableRow icon="pi pi-check"
            (click)="onRowEditSave(mascota)" class="p-button-rounded p-button-text p-button-success mr-2"></button>
          <button *ngIf="editing" pButton pRipple type="button" pCancelEditableRow icon="pi pi-times"
            (click)="onRowEditCancel(mascota, ri)" class="p-button-rounded p-button-text p-button-danger"></button>
        </td>
      </tr>
    </ng-template>
    <ng-template pTemplate="emptymessage">
      <tr>
        <td colspan="4">No se encontraron mascotas.</td>
      </tr>
    </ng-template>
  </p-table>
</main>
