.data {
  align-self: flex-start;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  list-style: none;
  padding: 0;
  margin: 0;
}

.data li {
  list-style-type: none;
  color: var(--text-secondary);
  font-weight: 700;
  margin: 10px 0;
  font-size: 1.1em;
  color: var(--text-secondary);
}

.data li span {
  color: var(--text-color);
  font-weight: 300;
}

.primeng-col {
  flex-grow: 1;
  flex-basis: 0;
}


