/* Tailwind */
@tailwind base;
@tailwind components;
@tailwind utilities;

/* Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap');

:root {
    --color-1: #7FA1C3;
    --color-2: #E2DAD6;
    --color-3: #F5EDED;
    --input-color:#f0f2f5;
    --text-color: #121417;
    --text-secondary: #637387;
    --text-terciary: #ACAFCA;
    --white: #FFFFFF;
    --gray: #757575;
    --color-gainsboro-200: #e2dad6;
}

* {
    box-sizing: border-box;
}

body {
    font-family: "Nunito", sans-serif;
    font-size: 16px;
    line-height: 1.6;
    color: var(--text-color);
    display: flex;
    flex-direction: column;
}

html {
    scroll-behavior: smooth;
}

h1 {
    color: var(--text-secondary);
    font-weight: 700;
}

/* BUTTONS */
button {
    font-weight: bold;
    border: none;
    padding: 0.75rem 1.5rem;
    cursor: pointer;
    transition: background-color 0.3s ease;
    border-radius: 40px;
}

.btn-1 {
  background-color: var(--white);
  color: var(--text-secondary);
}

.btn-1:hover, .btn-2 {
  background-color: var(--text-secondary);
  color: var(--white);
}

.btn-2:hover {background-color: #4d617e;}

.btn-3 {
  background-color: var(--color-2);
  color: var(--text-color);
}

.btn-3:hover {background-color: var(--color-3);}

/* HEADER */
.header-2 {
    padding: 10px;
    display: flex;
    justify-content: end;
}

.header-2 img {height: 40px;}

.header-3 {
    padding: 10px;
    display: flex;
    justify-content: space-between;
}

.header-3 img {height: 40px;}

/* PANEL MENU */
#sidebar {
    width: 250px;
    transition: transform 0.3s ease;
    position: fixed;
    z-index: 1000;
    height: 100%;
    padding-top: 60px; /* Deja espacio para el logo */
}
#sidebar.collapsed {transform: translateX(-100%);}

.nav-link {color: var(--text-secondary);}

.nav-link:hover {color: var(--text-terciary);}

.logo {
    position: fixed;
    top: 10px;
    left: 10px;
    cursor: pointer;
    height: 40px;
    z-index: 1100; /* Por encima del sidebar */
}
#content {
    flex-grow: 1;
    margin-left: 250px;
    padding: 20px;
    transition: margin-left 0.3s ease;
}
#content.collapsed {margin-left: 0;}


main a img {
    margin-right: 4px;
    width: 17px;
    transition: transform 0.3s ease;
}

main a:hover img {
    transform: translateX(-10px);
}
