.p-dropdown ul,
.p-dropdown-panel ul {
  padding: 0 !important;
}

/* Tailwind */
@tailwind base;
@tailwind components;
@tailwind utilities;

/* Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap');

:root {
    --color-1: #7FA1C3;
    --color-2: #E2DAD6;
    --color-3: #F5EDED;
    --input-color:#f0f2f5;
    --text-color: #121417;
    --text-secondary: #637387;
    --text-terciary: #ACAFCA;
    --text-quaternary: #7d7676;
    --white: #FFFFFF;
    --gray: #757575;
    --color-gainsboro-200: #e2dad6;
}

* {
    box-sizing: border-box;
}

body {
    font-family: "Nunito", sans-serif;
    font-size: 16px;
    line-height: 1.6;
    color: var(--text-color);
    display: flex;
    flex-direction: column;
    height: 100%;
}

html {
    scroll-behavior: smooth;
    height: 100%;
}

h1 {
    color: var(--text-secondary);
    font-weight: 700;
}

h2 {
  color: var(--text-quaternary)
}

/* BUTTONS */
button {
    font-weight: bold;
    border: none;
    padding: 0.75rem 1.5rem;
    cursor: pointer;
    transition: background-color 0.3s ease;
    border-radius: 40px;
}

.btn-1 {
  background-color: var(--white);
  color: var(--text-secondary);
}

.btn-1:hover, .btn-2 {
  background-color: var(--text-secondary);
  color: var(--white);
}

.btn-2:hover {background-color: #4d617e;}

.btn-3 {
  background-color: var(--color-2);
  color: var(--text-color);
}

.btn-3:hover {background-color: var(--color-3);}

/* HEADER */
.header-3 {
    padding: 10px;
    display: flex;
    justify-content: space-between;
}

.header-3 img {height: 40px;}


#content {
    flex-grow: 1;
    margin-left: 250px;
    padding: 20px;
    transition: margin-left 0.3s ease;
}
#content.collapsed {margin-left: 0;}

.graph-container {
  background-color: var(--input-color);
}

