<header class="header-3">
  <a routerLink="/mascotas">
    <img src="/assets/img/Michimed_Logo 1.png" alt="MichiMed Logo" />
  </a>
  <img src="/assets/img/User.png" alt="User Photo" />
</header>
<main style="width: 60%; margin-bottom: 30px;">
  <a routerLink="/mascotas" class="volver">
    <img src="/assets/icons/arrow_back.png" />Volver
  </a>
  <div class="info">
    <h1>Editar Mascota</h1>
  </div>
  <app-mascota-form [mascotaForm]="mascotaForm" (formSubmit)="onSubmit()"></app-mascota-form>
</main>
